<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="website icon" type="jpeg" href="./asstets/img/logo.jpeg">
  <title>Hey! There, Iam Eko</title>
  <link rel="stylesheet" href="./asstets/style.css">
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
    rel="stylesheet" />
</head>

<body>

  <!-- =================================================SUPER INDUK===========================================================-->
  <div class="container">

    <!-- navbar khusus hp -->
    <nav class="nav-mobile">
      <div class="navbar-brand">
        <img src="./asstets/img/logo.png" alt="" class="brand-img">
        <h1 class="brand-name">EKO</h1>
      </div>

      <ion-icon name="menu-outline" class="menu-toggler"></ion-icon>
    </nav>


    <!-- sidebar structure -->
    <div class="side-bar">

      <img src="./asstets/images/logo.jpeg" alt="" class="brand-img">
      <h1 class="brand-name">EKO <br>  ASIF</h1>

      <!-- ==========================================navbar======================================================== -->

      <nav>
        <ul class="nav">
          <li><a href="#" class="active">About</a></li>
          <li><a href="#">Resume</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

     

      <div class="social-btn-groups">
        <a href="#" class="btn">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a href="#" class="btn">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="#" class="btn">
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
      </div>

      <!-- foooter -->
      <footer class="side-bar-footer">
        <p class="copyright">&copy; 2025 By EkoAsif, All rights<br>reserved.</p>
      </footer>

    </div>

	<!-- about ================================================================================================ -->
    <section class="about page active">

      
      <div class="hero">
        <div class="hero-img-bx">
          <img src="./asstets/img/logo.jpeg" alt="">
        </div>

        <div class="hero-content">
          <div class="hero-content-wrapper">
            <p class="title">ML Engineer</p>
            <h1 class="name">Eko Asif Bahri</h1>
            <div class="desc">
              <p>I'm a passionate ML Engineer specializing in creating modern, responsive, and user-friendly websites. With expertise in HTML, CSS, and JavaScript, Python, Java, C++, Kotlin. I craft seamless web experiences that bring ideas to life.</p>

              <p>Whether you're looking for a custom-built website or want to enhance your existing platform, I'm here to help. Let's collaborate and build something amazing together!</p>
            </div>

            <a href="#" class="btn-primary">Download CV</a>
          </div>
        </div>
      </div>


      <!-- bagian About========================================================================================== -->
      <div class="about-inner">
        <div class="service">

          <h2>What I Do</h2>

          <div class="grid-item">

            <div class="item">
              <div class="item-icon">
                <ion-icon name="storefront-outline"></ion-icon>
              </div>
              <div class="item-wrapper">
                <h3>ML Engineer</h3>
                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet
                  ultricies
                  ex lectus scelerisque nibh. Ut non sodales odio.</p>
              </div>
            </div>

            <div class="item">
              <div class="item-icon">
                <ion-icon name="reader-outline"></ion-icon>
              </div>
              <div class="item-wrapper">
                <h3>Front-end Design</h3>
                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet
                  ultricies
                  ex lectus scelerisque nibh. Ut non sodales odio.</p>
              </div>
            </div>

            <div class="item">
              <div class="item-icon">
                <ion-icon name="desktop-outline"></ion-icon>
              </div>
              <div class="item-wrapper">
                <h3>3D design object</h3>
                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet
                  ultricies
                  ex lectus scelerisque nibh. Ut non sodales odio.</p>
              </div>
            </div>

            <div class="item">
              <div class="item-icon">
                <ion-icon name="file-tray-stacked-outline"></ion-icon>
              </div>
              <div class="item-wrapper">
                <h3>Python/C++ Analizu</h3>
                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet
                  ultricies
                  ex lectus scelerisque nibh. Ut non sodales odio.</p>
              </div>
            </div>
          </div>

        </div>

        <!-- testimoni================================================================================================-->
        <div class="testimonials">

          <h2>Testimonials</h2>

          <div class="testimonials-row">

            <div class="testimonials-content">
              <div class="testimonials-text">
                <blockquote><i>Nam tempor commodo mi id sodales. Aenean sit amet nibh nec sapien consequat porta a sit
                    amet
                    diam.</i></blockquote>
              </div>
              <div class="testimonials-author">
                <img src="./asstets/img/logo.jpeg" alt="" class="author-img">
                <div class="author-info">
                  <h4 class="author-name">Who iaM?</h4>
                  <p class="author-title">Web Developer</p>
                </div>
              </div>
            </div>

            <div class="testimonials-content">
              <div class="testimonials-text">
                <blockquote><i>Nam tempor commodo mi id sodales. Aenean sit amet nibh nec sapien consequat porta a sit
                    amet
                    diam.</i></blockquote>
              </div>
              <div class="testimonials-author">
                <img src="./asstets/img/logo.jpeg" alt="" class="author-img">
                <div class="author-info">
                  <h4 class="author-name">Tugas WEB</h4>
                  <p class="author-title">Web Developer</p>
                </div>
              </div>
            </div>

          </div>

        </div>


        <!-- client================================================================================================================ -->

        <div class="clients">
          <h2>Clients</h2>

          <div class="clients-row">
            <img src="./asstets/images/client-1.png" alt="">
            <img src="./asstets/images/client-2.png" alt="">
            <img src="./asstets/images/client-3.png" alt="">
            <img src="./asstets/images/client-4.png" alt="">
            <img src="./asstets/images/client-5.png" alt="">
            <img src="./asstets/images/client-6.png" alt="">
          </div>
        </div>


      </div>


    </section>


    <!-- resume========================================================================================================== -->

    <section class="resume page">

      <h1 class="section-heading">Resume</h1>
      <h4 class="section-sub-heading">5 Years of Experience</h4>


      <div class="resume-row">
        <div class="wrapper">


          <!-- pendidikan=========================================================== -->

          <div class="edu">
            <h2>Education</h2>

            <div class="grid-item">
              <h4 class="year">2025</h4>
              <h4 class="edu-name">Machine Learning</h4>
              <p class="company">University of Studies in STT</p>
              <p class="edu-desc">Mempelajari bahasa dan sistem lebih mendalam, 
                pendalaman materi tingkat lanjut,
                serta mengerjakan beberapa project yg bersifat pribadi.
              </p>

              <div class="divider"></div>
            </div>

            <div class="grid-item">
              <h4 class="year">2022</h4>
              <h4 class="edu-name">Devloment Skills</h4>
              <p class="company">Studies in SMAN2 Purwakarta</p>
              <p class="edu-desc">
                Mulai tertarik dengan dunia coding sejak kelas 11, 
                ya meski jurusannya ips, tapi saya berhasil belajar otodidak
                bahasa pemrograman seperti HTML, CSS, dan JavaScript, python, c++, java, kotlin.
              </p>

              <div class="divider"></div>
            </div>



          </div>




          <!-- pengalaam========================================================================-================= -->

          <div class="exp">
            <h2>PROJECT</h2>

            <div class="grid-item">
              <h4 class="year">2025 - Current</h4>
              <h4 class="exp-name">Project width Python-C++-Java-Kotlin-HTML</h4>
              <p class="company">Update</p>
              <p class="exp-desc">Follow me on GitHub to see more of my projects.
                project di upload di GitHub. tapi karena bersifat pribadi,
                jadi yang saya izinkan saja yg lihat. jika ingin lihat, silahkan hubungi saya.
              </p>

              <div class="divider"></div>
            </div>

            <div class="grid-item">
              <h4 class="year">2024 - 2025</h4>
              <h4 class="exp-name">Mempelajari dan meng implementasikan Python dan C++</h4>
              <p class="company">Coding Skills</p>
              <p class="exp-desc">Berhasil membuat beberapa project menggunakan Python dan C++.
                serta sedang mempelajari Machine Learning dan Data Science.
              </p>

              <div class="divider"></div>
            </div>

            <div class="grid-item">
              <h4 class="year">2023 - 2024</h4>
              <h4 class="exp-name">Front-end Developer</h4>
              <p class="company">Webs</p>
              <p class="exp-desc">
                Berhasil membuat website pertama, berbasis HTML dan CSS eksternal, 
                serta berhasil memahami konsep dasar dari JavaScript.
              </p>

              <div class="divider"></div>
            </div>



          </div>


        </div>


        <div class="wrapper">

          <!-- skille===================================================================================================== -->

          <div class="design-skill">
            <h2>Analizy</h2>

            <div class="progress-detail">
              <div class="progress-name">Numpy Python</div>
              <div class="progress-percent">95%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 95%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">Cmath Analizy</div>
              <div class="progress-percent">65%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 65%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">Matlab Analizy</div>
              <div class="progress-percent">80%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 80%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">Analizy Array data</div>
              <div class="progress-percent">90%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 90%"></div>
            </div>

          </div>


          <!-- coding skill structure -->

          <div class="coding-skill">
            <h2>Coding Skills</h2>

            <div class="progress-detail">
              <div class="progress-name">Html-Css-JavaScript</div>
              <div class="progress-percent">90%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 90%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">C++</div>
              <div class="progress-percent">70%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 70%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">Java</div>
              <div class="progress-percent">60%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 60%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">Kotlin</div>
              <div class="progress-percent">50%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 50%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">PYTHON</div>
              <div class="progress-percent">100%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 100%"></div>
            </div>

            <div class="progress-detail">
              <div class="progress-name">Bootstrap</div>
              <div class="progress-percent">95%</div>
            </div>
            <div class="progress-bar">
              <div class="progress" style="width: 95%"></div>
            </div>

          </div>


        </div>


      </div>

      <a href="#" class="btn-primary">Download CV</a>


    </section>

    <!-- ====================================================================================================== -->
    <section class="portfolio page">
      <h1 class="section-heading">Portfolio</h1>
      <h4 class="section-sub-heading">My Works</h4>

      <ul class="filter-box">
        <li class="filter-item active">All</li>
        <li class="filter-item">Media</li>
        <li class="filter-item">Mockups</li>
        <li class="filter-item">SoundCloud</li>
        <li class="filter-item">Vimeo Videos</li>
        <li class="filter-item">YouTube Videos</li>
      </ul>


      <div class="portfolio-items-group">

        <div class="portfolio-item active">
          <img src="./asstets/images/project1.png" alt="" class="item-img">
          <h4 class="item-name">Yolo Detection Object width Python</h4>
          <div class="item-icon">
            <ion-icon name="volume-high"></ion-icon>
          </div>
          <div class="item-category">SoundCloud</div>
        </div>

        <div class="portfolio-item active">
          <img src="./asstets/images/project2.png" alt="" class="item-img">
          <h4 class="item-name">Create, Read, Update, Delete Atm width Python</h4>
          <div class="item-icon">
            <ion-icon name="film"></ion-icon>
          </div>
          <div class="item-category">Media</div>
        </div>

        <div class="portfolio-item active">
          <img src="./asstets/images/project3.png" alt="" class="item-img">
          <h4 class="item-name">3D Blender Design and rendering</h4>
          <div class="item-icon">
            <ion-icon name="videocam"></ion-icon>
          </div>
          <div class="item-category">Vimeo Videos</div>
        </div>

        <div class="portfolio-item active">
          <img src="./asstets/images/project4.jpg" alt="" class="item-img">
          <h4 class="item-name">responsive web design</h4>
          <div class="item-icon">
            <ion-icon name="film"></ion-icon>
          </div>
          <div class="item-category">Media</div>
        </div>

        <div class="portfolio-item active">
          <img src="./asstets/images/project5.png" alt="" class="item-img">
          <h4 class="item-name">Circuit Design and Simulation</h4>
          <div class="item-icon">
            <ion-icon name="image"></ion-icon>
          </div>
          <div class="item-category">Mockups</div>
        </div>

        <div class="portfolio-item active">
          <img src="./asstets/img/python dev.png" alt="" class="item-img">
          <h4 class="item-name">Python Development</h4>
          <div class="item-icon">
            <ion-icon name="videocam"></ion-icon>
          </div>
          <div class="item-category">YouTube Videos</div>
        </div>
        
        <div class="portfolio-item active">
          <img src="./asstets/img/Think.png" alt="" class="item-img">
          <h4 class="item-name">Think width ai</h4>
          <div class="item-icon">
            <ion-icon name="videocam"></ion-icon>
          </div>
          <div class="item-category">YouTube Videos</div>
        </div>
        <div class="portfolio-item active">
          <img src="./asstets/img/AI.png" alt="" class="item-img">
          <h4 class="item-name">AI Development</h4>
          <div class="item-icon">
            <ion-icon name="videocam"></ion-icon>
          </div>
          <div class="item-category">YouTube Videos</div>
        </div>
        <div class="portfolio-item active">
          <img src="./asstets/img/planing.png" alt="" class="item-img">
          <h4 class="item-name">Planning with AI</h4>
          <div class="item-icon">
            <ion-icon name="videocam"></ion-icon>
          </div>
          <div class="item-category">YouTube Videos</div>
        </div>
        <div class="portfolio-item active">
          <img src="./asstets/img/Brain.png" alt="" class="item-img">
          <h4 class="item-name">Powered Brains by AI</h4>
          <div class="item-icon">
            <ion-icon name="videocam"></ion-icon>
          </div>
          <div class="item-category">YouTube Videos</div>
        </div>
      </div>

    </section>


    <!-- blog =============================================================================================================== -->
    <section class="blog page">
      <h1 class="section-heading">Blog</h1>
      <h4 class="section-sub-heading">My Diary</h4>

      <div class="blog-container">

        <div class="blog-post">
          <div class="blog-img-box">
            <img src="./asstets/images/blog.jpg" alt="">
          </div>
          <div class="blog-category">UI</div>
          <div class="blog-info">
            <p class="publish-date">06 Apr 2021</p>
            <a href="#" class="blog-title">Best Practices for Animated Progress Indicators</a>
          </div>
        </div>

        <div class="blog-post">
          <div class="blog-img-box">
            <img src="./asstets/images/blog.jpg" alt="">
          </div>
          <div class="blog-category">ML study</div>
          <div class="blog-info">
            <p class="publish-date">06 Apr 2021</p>
            <a href="#" class="blog-title">Designing the Perfect Feature Comparison Table</a>
          </div>
        </div>

        <div class="blog-post">
          <div class="blog-img-box">
            <img src="./asstets/images/blog.jpg" alt="">
          </div>
          <div class="blog-category">WEB design</div>
          <div class="blog-info">
            <p class="publish-date">06 Apr 2021</p>
            <a href="#" class="blog-title">An Overview of E-Commerce Platforms</a>
          </div>
        </div>

        <div class="blog-post">
          <div class="blog-img-box">
            <img src="./asstets/images/blog.jpg" alt="">
          </div>
          <div class="blog-category">Design</div>
          <div class="blog-info">
            <p class="publish-date">06 Apr 2021</p>
            <a href="#" class="blog-title">Why I Switched to Sketch For UI Design</a>
          </div>
        </div>

        <div class="blog-post">
          <div class="blog-img-box">
            <img src="./asstets/images/blog.jpg" alt="">
          </div>
          <div class="blog-category">UI</div>
          <div class="blog-info">
            <p class="publish-date">06 Apr 2021</p>
            <a href="#" class="blog-title">Creative and Innovative Navigation Designs</a>
          </div>
        </div>

        <div class="blog-post">
          <div class="blog-img-box">
            <img src="./asstets/images/blog.jpg" alt="">
          </div>
          <div class="blog-category">Design</div>
          <div class="blog-info">
            <p class="publish-date">06 Apr 2021</p>
            <a href="#" class="blog-title">6 Easy Steps to Better Icon Design</a>
          </div>
        </div>

      </div>
    </section>

    <!-- kontak======================================================================================================================= -->
    <section class="contact page">

      <h1 class="section-heading">Contact</h1>
      <h4 class="section-sub-heading">Get in Touch</h4>

      <div class="contact-info">
        
        <div class="info-box">
          <ion-icon name="call-outline"></ion-icon>
          <p>0123-456-7890</p>
        </div>

        <div class="info-box">
          <ion-icon name="location-outline"></ion-icon>
          <p>Purwakarta</p>
        </div>

        <div class="info-box">
          <ion-icon name="mail-outline"></ion-icon>
          <p>ekoasif@gmail.com</p>
        </div>

        <div class="info-box">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <p>Hire Available</p>
        </div>

      </div>


      <div class="contact-form">

        <form action="">

          <div class="form-grid">
            <div class="grid-left">
              <input type="text" required placeholder="Full Name">
              <input type="email" required placeholder="Email Address">
              <input type="text" required placeholder="Subject">
            </div>

            <div class="grid-right">
              <textarea placeholder="Message"></textarea>
            </div>
          </div>

          <a href="#" class="btn-primary">Send message</a>

        </form>

      </div>

    </section>

  </div>



  
  <script src="./asstets/script.js"></script>

  <!-- ionicon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>