







/* ====== STYLE UTAMA SUPER DIV ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #222;
}

/* SUPER DIV */
.SUPER-DIV {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* HEADER */
.DIV-HEADER2 {
  width: 100%;
  color: white;
  
}

/* MAIN SECTION */
.DIV-MAIN {
  padding-top: 30px;
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 70vh;
    
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); /* biar keliatan glossy */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* efek mengkilap lembut */
    color: white;
    font-size: 19px;
    margin-top: 10px;
    background-image: linear-gradient(to top, #0a101d, #172436, #213a52, #29516f, #2e698c, #3d789c, #4c87ad, #5a97be, #72a0c6, #88aacd, #9cb4d4, #aebeda);
    box-shadow: 
        inset 0 1px 0 rgba(255, 255, 255, 0.1), 
        inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    position: relative; 
    overflow: hidden;
}

.DIV-MAIN::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%; 
    width: 50%; 
    left: -100%; 

   
    background: linear-gradient(
        90deg,
        transparent, 
        rgba(255, 255, 255, 0.1), 
        transparent 
    );
    
    pointer-events: none;
    z-index: 1; 
    animation: shineFooter 20s infinite; 
    
    
}


@keyframes shineFooter {
    0% { left: -100%; } 
    100% { left: 150%; }
}


    


/* SIDEBAR */
.DIV-SIDEBAR {
  width: 30%;
  background: transparent;
  color: white;
  padding: 20px;
}

.DIV-SIDEBAR ul {
  list-style: none;
}

.DIV-SIDEBAR li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.DIV-SIDEBAR li:hover {
  background: #444;
}

/* CONTENT */
.DIV-CONTENT {
  width: 70%;
 
  padding: 30px;
  border-left: 2px solid #ccc;
  backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); /* biar keliatan glossy */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* efek mengkilap lembut */
    color: white;
    font-size: 19px;
    margin-top: 10px;
    background-image: linear-gradient(to top, #0a101d, #172436, #213a52, #29516f, #2e698c, #3d789c, #4c87ad, #5a97be, #72a0c6, #88aacd, #9cb4d4, #aebeda);
    box-shadow: 
        inset 0 1px 0 rgba(255, 255, 255, 0.1), 
        inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    position: relative; 
    overflow: hidden;
}

.DIV-CONTENT::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%; 
    width: 50%; 
    left: -100%; 

   
    background: linear-gradient(
        90deg,
        transparent, 
        rgba(255, 255, 255, 0.1), 
        transparent 
    );
    
    pointer-events: none;
    z-index: 1; 
    animation: shineFooter 20s infinite; 
    
    
}


/* FOOTER */
.DIV-FOOTER {
  background: linear-gradient(to right, #555, #222);
  color: white;
  text-align: center;
  padding: 1px;
}




/* ===================================================HEADER============================================ */
.MAIN-Menu{

    background-image: linear-gradient(to right, rgb(193, 223, 57),  rgb(73, 73, 235));
    /* -webkit-background-clip: background; */
    background-clip: border-box;
    color: transparent;
    clear: both;
    z-index: 999;
    display: block;
    width: 100%;
    background-color: rgba(35, 83, 216, 0.897);
    backdrop-filter: blur(5px);
    padding: 8px;
    float: left;
    justify-content: space-between;
    position: fixed;
    overflow: auto;
    flex-wrap: wrap;
    backdrop-filter: blur(10px); /* efek blur di belakang */
    -webkit-backdrop-filter: blur(10px); /* buat Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* biar keliatan glossy */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* efek mengkilap lembut */
    overflow: hidden; 
    /* background: linear-gradient(135deg, rgb(29, 97, 185), rgb(38, 124, 96)); */
}
.MAIN-Menu::before{
content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 80%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 100%
  );
  animation: shine 5s ease-in-out infinite;
  opacity: 0.6;
}


@keyframes shine {
  0% { left: -120%; opacity: 0.4; }
  50% { left: 120%; opacity: 0.8; }
  100% { left: -120%; opacity: 0.4; }
}

.MAIN-Menu .logo{
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    float: left;
}
.MAIN-Menu ul{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    float:inherit;
    margin-left: 6px;
}
.MAIN-Menu ul li{
    list-style: none;
    margin-right: 6px;
    background: transparent;
    display: flex;
    border: solid 2px white;
    border-radius: 15px;
    width: max-content;
    justify-content: center;
}
.MAIN-Menu ul li:hover{
    opacity: 0.5;
    cursor: pointer;
}
.MAIN-Menu a{
    display: block;
    color: rgb(235, 225, 225);
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}











.SUPER-MAINBOARD-TWO{
            display: flex;
            position: relative;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            width: 100%;
            background: transparent;
            border-collapse: collapse;
            border-spacing: 0;
            padding-top: 62px;
            text-align: center;
            justify-content: space-between;
            box-sizing: border-box;
            color: white;
        }


        .SUPER-MAINBOARD-TWO .SUPER-TWO{
            height: max-content;
            width: 100%;
            justify-items: center;
            padding-top: 0px;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            border-collapse: 1;
            margin: 0;
            padding-top: 0;
            align-items:center;
            justify-content: center;
            border: solid 3px red
          }
          
          .SUPER-MAINBOARD-TWO .SUPER-TWO .main-control{
            width: 220px;
            height: 40px;
            padding: 0;
            background: linear-gradient(135deg, rgba(16, 62, 122, 0.486), rgba(53, 16, 185, 0.493));
            backdrop-filter: blur(10px); 
            -webkit-backdrop-filter: blur(10px); 
            border: 1px solid rgba(255, 255, 255, 0.3); /* biar keliatan glossy */
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* efek mengkilap lembut */
            color: white;
            border: solid 3px red;
            background-image:
            linear-gradient(135deg, rgba(255,255,255,0.3) 0%, transparent 30%),
            linear-gradient(135deg, rgba(29,97,185,0.7), rgba(38,124,96,0.7));
            overflow: hidden; 
            font-size: 19px;
            margin-top: 10px;
            
        }
        .SUPER-MAINBOARD-TWO .SUPER-TWO .main-control::before {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(
          120deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent
        );
        animation: shine 2s infinite;
        }

        @keyframes shine {
        0% { left: -75%; }
        100% { left: 125%; }
        }

        .SUPER-MAINBOARD-TWO .SUPER-TWO .main-control a{
            text-decoration: none;
          }
          
          
        .main-control li{
            width: 100%;
            height: 100%; 
            list-style: none;
            display: flex;
            align-items: center; 
            justify-content: center; 
                    
        }


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background: #eeeceb;
}
footer {
    background: #10182f;
    width: 100%;
    background: linear-gradient(
        to bottom, 
        #2a364a 0%,    
        #10182f 50%,   
        #0a101d 100% 
    );
    box-shadow: 
        inset 0 1px 0 rgba(255, 255, 255, 0.1), 
        inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    position: relative; 
    overflow: hidden; 
}
footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #afafb6;
    background: linear-gradient(
        170deg,
        transparent, 
        rgba(255, 255, 255, 0.1), 
        transparent 
    );
    
}





footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #0077b5;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ff0000;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #3824d2;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #2e2748;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
