<!DOCTYPE html>
<html>
<head>
    <title>{{ mode|capitalize }} Buku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container" style="max-width: 500px;"> <h1>{{ mode|capitalize }} Buku</h1>
        
        <form method="POST">
            <label>Judul Buku</label>
            <input type="text" name="judul" value="{{ data.judul if data else '' }}" placeholder="Masukkan judul buku..." required>

            <label>Penulis</label>
            <input type="text" name="penulis" value="{{ data.penulis if data else '' }}" placeholder="Nama penulis..." required>

            <label>Tahun Terbit</label>
            <input type="number" name="tahun" value="{{ data.tahun if data else '' }}" placeholder="YYYY" required>

            <div style="margin-top: 30px; text-align: center;">
                <button type="submit">Simpan Data</button>
                <br>
                <a href="/" style="border:none; color: #666;">Batal</a>
            </div>
        </form>
    </div>

</body>
</html>